	<div style="width:100%;display: flex;align-items:center;flex-direction:column">
		<h1>Audio Focus</h1>
    <span style="font-size:24px;align-self:flex-start">Owner: {{doctor}}</span>
		<ul style="list-style: none;font-size:24px;align-self:flex-start">
		 	<li><a href="/health/medicament">Users</a></li>
		</ul>
	</div>
{{> footer}}

